---
import { getCollection } from 'astro:content'
import { HomeCarousel } from '@/components/HomeCarousel'
import { SITE, } from '@/consts'
import PageLayout from '@/layouts/PageLayout.astro'

import * as React from 'react'
import Container from '@/components/Container.astro'
import { Typewriter } from "@/components/ui/typewriter"
import { StackMarquee } from '@/components/StackMarquee.tsx'

const posts = (await getCollection('blog'))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3)

console.log(posts)

const projects = (await getCollection('projects'))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3)

---

<PageLayout title="Startseite" description={SITE.DESCRIPTION}>


  <section class="relative my-12 w-full  flex items-center justify-center bg-white">
    <Container size="xl">

      <div class="flex  flex-col my-12 gap-y-12">
       <HomeCarousel client:only="react" />
      
        <StackMarquee client:only="react" />
      </div>
    </Container>
  </section>
</PageLayout>
