---
import { getCollection } from 'astro:content'
import { HomeCarousel } from '@/components/HomeCarousel'
import { SITE, } from '@/consts'
import PageLayout from '@/layouts/PageLayout.astro'

import * as React from 'react'
import Container from '@/components/Container.astro'
import { Typewriter } from "@/components/ui/typewriter"
import { StackMarquee } from '@/components/StackMarquee.tsx'
import HomeLayout from '@/layouts/HomeLayout.astro'

const featuredProjects = (await getCollection('projekte'))
  .filter(project => !!project.data.featured)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

---

<HomeLayout title="Startseite" description={SITE.DESCRIPTION} hideHeader>


  <section class="relative my-24 w-full h-full flex items-center justify-center bg-white py-12">
    <Container size="xl">

      <div class="flex  flex-col space-y-24">

        <div class="mx-auto md:text-4xl lg:text-5xl sm:text-3xl text-2xl flex flex-row items-start justify-start bg-background font-normal overflow-hidden">
          <p class="whitespace-pre-wrap text-center leading-tight">
            <span>Ich bin <b>Danny</b>,<br/> </span>
            <Typewriter
              client:only="react"
              text={[
                "Senior Webentwickler",
                "Fullstack-Entwickler",
                "Laravel-Entwickler",
                "React-Entwickler",
                "Vue.js-Entwickler",
              ]}
              speed={140}
              className="text-[#F9B233] font-bold"
              waitTime={1500}
              deleteSpeed={40}
              cursorChar={"_"}
            /> <br/> aus <b>Bonn</b>.
          </p>
        </div>


       <HomeCarousel client:only="react" projects={featuredProjects} />


      </div>
    </Container>
  </section>
  <Container size="xl">
    <h2 class="text-center text-4xl font-bold">Sprachen, Frameworks etc.</h2>
      <div class="flex flex-col text-center py-12">
        <StackMarquee client:only="react" />
      </div>
  </Container>

</HomeLayout>
