---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import ArrowCard from "@components/ArrowCard"
import StackCard from "@components/StackCard.astro"
import { SITE, SOCIALS } from "@consts"
import TwinklingStars from "@components/TwinklingStars.astro"
import MeteorShower from "@components/MeteorShower.astro"

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const stack = [
  {
    text: "AdonisJS",
    icon: "tabler-brand-adonis-js",
    href: "https://tailwindcss.com"
  },
  { 
    text: "Astro", 
    icon: "tabler-brand-astro",
    href: "https://astro.build" 
  },
  { 
    text: "Javascript", 
    icon: "tabler-brand-javascript",
    href: "https://www.javascript.com" 
  },
  {
    text: "Laravel",
    icon: "tabler-brand-laravel",
    href: "https://tailwindcss.com"
  },
  {
    text: "PHP",
    icon: "tabler-brand-php",
    href: "https://tailwindcss.com"
  },
  {
    text: "ReactJS",
    icon: "tabler-brand-react",
    href: "https://tailwindcss.com"
  },,
  { 
    text: "tailwindcss",
    icon: "tabler-brand-tailwind",
    href: "https://tailwindcss.com" 
  },
  {
    text: "Typescript",
    icon: "tabler-brand-typescript",
    href: "https://www.typescriptlang.org"
  }
  ,
  {
    text: "Vue.js",
    icon: "tabler-brand-vue",
    href: "https://tailwindcss.com"
  },,
  {
    text: "WordPress",
    icon: "tabler-brand-wordpress",
    href: "https://tailwindcss.com"
  },
]
---

<PageLayout title="Startseite" description={SITE.DESCRIPTION}>

  <!-- Light Mode: Particles -->
  <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars/>
      <MeteorShower/>
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>
  
  <!-- HERO -->
  <section class="relative h-screen w-full">

    <div class="animate absolute h-full w-full flex items-center justify-center">
      <div class='relative w-full h-full flex items-center justify-center'>
        <div class='p-5 text-center'>
          <p class='animated text-lg md:text-xl lg:text-2xl font-semibold opacity-75'>
            Willkommen bei
          </p>
          <p class='animated text-2xl md:text-3xl lg:text-4xl font-bold  text-black dark:text-white'>
            twiceware solutions e. K.
          </p>
          <p class='animated text-sm md:text-base lg:text-lg opacity-75'>
            Webentwicklung seit 2004
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5  pb-16">


      <!-- About Section -->
      <section class="animate hidden">
        <article>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque sagittis. Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
        </article>
      </section>

      <!-- Blog Preview Section -->
  <!--
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Letzte Blogeinträge
            </p>
            <a href="/blog" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                Alle Blogeinträge
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {posts.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))}
          </ul>
        </div>
      </section>
      -->

      <!-- Tech Stack Section -->

      <section class="animate">
        <div class="space-y-4">
          <p class="font-semibold text-black dark:text-white text-center">
            Wir sprechen und nutzen
          </p>
          <div class="flex flex-wrap items-center gap-2 mt-5 grid grid-cols-2 lg:grid-cols-5">
            {stack.map(item => (
              <StackCard 
                text={item?.text || ''}
                icon={item?.icon || ''}
                href={item?.href || ''}
              />
            ))}
          </div>
        </div>
      </section>

      <!-- Project Preview Section
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Letzte Projekte
            </p>
            <a href="/projects" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                Alle Projekte
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))}
          </ul>
        </div>
      </section>
-->
    </div>
  </div>
</PageLayout>
