---
import { getCollection } from 'astro:content'
import { HomeCarousel } from '@/components/HomeCarousel'
import { SITE, } from '@/consts'
import PageLayout from '@/layouts/PageLayout.astro'

import * as React from 'react'
import Container from '@/components/Container.astro'
import { Typewriter } from "@/components/ui/typewriter"
import { StackMarquee } from '@/components/StackMarquee.tsx'

const featuredProjects = (await getCollection('projekte'))
  .filter(project => !!project.data.featured)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

---

<PageLayout title="Startseite" description={SITE.DESCRIPTION} hideHeader>


  <section class="relative my-24 w-full  flex items-center justify-center bg-white">
    <Container size="xl">

      <div class="flex  flex-col gap-24">

       <HomeCarousel client:only="react" projects={featuredProjects} />

        <div class="flex flex-col text-center">
        <h1 class="text-2xl font-semibold">Sprachen, Frameworks und Kinks &#128586;</h1>
        <StackMarquee client:only="react" />
        </div>
      </div>
    </Container>
  </section>
</PageLayout>
