---
import { SITE, LINKS } from '@/consts'
import { cn } from '@/lib/utils'
import { getCollection } from 'astro:content'
const { pathname } = Astro.url
const subpath = pathname.match(/[^/]+/g)

const pages = (await getCollection('pages'))
  .filter(page => !page.data.isFooterLink)

const blogIndex = {
  data: { title: 'Blog' },
  slug: 'blog'
}
const projectsIndex = {
  data: { title: 'Referenzen' },
  slug: 'projekte/1'
}

const allContent = [...pages, projectsIndex]


const currentPath = Astro.url.pathname

const menuItems = allContent.map(item => {
  const url = `/${item.slug}`
  return {
    title: item.data.title,
    url: url,
    isActive: currentPath === url || currentPath.startsWith(url + '/')
  }
})
---

<div id="drawer"
     class="fixed inset-0 h-0 z-40 overflow-hidden flex flex-col items-center justify-center bg-stone-100 transition-[height] duration-300 ease-in-out"
>
  <nav class="flex flex-col items-center space-y-2">
    {
      menuItems.map((item) => (
        <a href={item.url}
           class={cn(' text-current py-1 px-2', 'flex items-center justify-center', 'transition-colors duration-300 ease-in-out', pathname === item.url || '/' + subpath?.[0] === item.url ? 'border-b-2 border-blue-600' : 'hover:bg-black/5 hover:text-black hover:rounded-lg')}
        >
          {item.title}
        </a>
      ))
    }
  </nav>

</div>

<style>
    #drawer.open {
        @apply h-full;
    }
</style>
