---
import { cn } from '@/lib/utils'
import Container from '@/components/Container.astro'
import '@fontsource-variable/radio-canada'
import '@fontsource-variable/jetbrains-mono'
import Logo from './Logo.astro'
import { Menu03Icon, Cancel01Icon, GithubIcon  } from '@hugeicons/core-free-icons'
import { Icon } from '@/components/ui/icon'


---
<header id="header" class="fixed top-0 w-full h-20 z-50 text-sans py-8 bg-stone-50">
  <Container size="xl">
    <div class="relative h-full w-full">
      <div class="absolute left-0 top-1/2 -translate-y-1/2 flex gap-1 font-semibold">
        <a href="/"
           class="flex gap-1 text-current hover:text-black transition-colors duration-300 ease-in-out space-x-2.5"
        >
          <Logo className="h-10 rounded-xl p-1" />

          <img src="/twsek-text.svg" alt="twiceware solutions e. K. - Logo" class="h-10">
        </a>
      </div>

      <div class="buttons  absolute right-0 top-1/2 -translate-y-1/2 flex gap-1">

        <button id="header-drawer-button" aria-label={`Toggle drawer open and closed`}
                class={cn('flex ', 'size-10 cursor-pointer rounded-full p-2 items-center justify-center', 'bg-transparent hover:bg-black/5', 'stroke-current hover:stroke-black', 'border-black/10', 'transition-colors duration-300 ease-in-out')}
        >

          <Icon icon={Menu03Icon} className="size-full" id="drawer-open"/>
          <Icon icon={Cancel01Icon} className="size-full" id="drawer-close"/>

        </button>

        <a href="https://github.com/dspangenberg" target="_blank"   class={cn('flex ', 'size-10 rounded-full p-2 items-center justify-center', 'bg-transparent hover:bg-black/5', 'stroke-current hover:stroke-black', 'border-black/10', 'transition-colors duration-300 ease-in-out')}>
          <Icon icon={GithubIcon} className="size-full"/>
        </a>

      </div>
    </div>
  </Container>
</header>

<style>
    #header-drawer-button > #drawer-open {
        @apply block;
    }

    #header-drawer-button > #drawer-close {
        @apply hidden;
    }

    #header-drawer-button.open > #drawer-open {
        @apply hidden;
    }

    #header-drawer-button.open > #drawer-close {
        @apply block;
    }
</style>

<script is:inline>
  function toggleDrawer () {
    const drawer = document.getElementById('drawer')
    const drawerButton = document.getElementById('header-drawer-button')
    drawer?.classList.toggle('open')
    drawerButton?.classList.toggle('open')
  }

  function initializeDrawerButton () {
    const drawerButton = document.getElementById('header-drawer-button')
    drawerButton?.addEventListener('click', toggleDrawer)
  }

  document.addEventListener('astro:after-swap', initializeDrawerButton)
  initializeDrawerButton()
</script>
