---
type Props = {
  text: string
  icon: string
  href: string
}

const { text, icon, href } = Astro.props
---


<a href={href} target="_blank" class="px-3 py-2 group rounded !no-underline  flex gap-2 items-center border-neutral-200 hover:bg-neutral-100 blend">

  <div class="block">
  <svg height={30} width={30} stroke="#000" stroke-width={2}>
    <use href={`/tabler-sprite.svg#${icon}`}></use>
  </svg>
  </div>
  <div class="block text-2xl text-neutral-500 group-hover:text-black blend">
    {text}
  </div>

</a>

